@media (min-width: 768px) {
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .page {
    position:absolute;
    width:100%;
    top:50px;
    bottom:0;
    overflow: auto;
  }

  #playground {
    display: table;
    width: 100%;
    table-layout: fixed;
    height:100%;
  }

  #playground > .col {
    width: 50%;
    display: table-cell;
    vertical-align: top;
  }

  .CodeMirror {
    height: auto;
  }

  .CodeMirror-scroll {
    margin-bottom: 0;
    overflow-x: hidden !important;
  }

  .CodeMirror-vscrollbar {
    display: none! important;
  }
}

@media (max-width: 767px) {
  .CodeMirror {
    min-height: 240px;
    height: calc(40vh - 50px);
  }
}

.CodeMirror {
  margin-top: 5px;
}

#actions-col {
  padding: 5px 30px;
}

#source-col {
  background: #272822;
  cursor: text;
}

#source-control {
  color: #d0d0d0;
  border-bottom: 1px solid #444;
  padding: 10px;
  cursor: initial;
}

#buttons {
  float: left;
}

.switches {
  float: right;
}

#notifications > * {
  z-index: 10000;
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: initial;
  border: none;

  display: block;
  min-height: 51px;
}

#notifications > .inactive {
  display: none;
}

#notifications .alert-danger {
  background-color: #E74944;
  color: #f8f8f2;
}

#spinner span {
  font-size: 18px;
  color: #fff;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
}

#add-constraints-header > span {
  float: right;
  line-height: 33px;
}

#trace-log {
  margin-top: 30px;
}


.glyphicon.spinning {
    animation: spin 1.2s infinite linear;
    -webkit-animation: spin2 1.2s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: #dd4814 !important;
}
#source-col .bootstrap-switch {
  border: 1px solid #444 !important;
  margin-left: 10px !important;
}
#source-col .bootstrap-switch .bootstrap-switch-label {
  color: #d0d0d0 !important;
  background: #333 !important;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  background: #d0d0d0 !important;
}

.bootstrap-switch.bootstrap-switch-focused {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(174,57,16,0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(174,57,16,0.6) !important;
  border-color: #ae3910 !important;
}

/* Slider */

.slider.slider-horizontal .slider-track,
.slider-selection {
  background: #d0d0d0 !important;
}

.slider.slider-horizontal .slider-track {
  margin-top: -3px !important;
}

.slider.slider-horizontal .slider-handle {
  width: 16px !important;
  height: 16px !important;
  border-radius: 3px !important;
  background: #dd4814 !important;
}

.slider.slider-horizontal .slider-track {
  height: 4px !important;
}

#trace-log .slider {
  width: 140px;
  margin: 0 10px;
}

#trace-log .panel-body {
  height: 200px;
  overflow-y: scroll;
}

#trace-log .bootstrap-switch {
  margin-right: 20px;
}

/* CodeMirror marker styles */
.marker {
  border-radius: 2px;
  padding: 2px 0;
  background: #ccc;
  color: #333;
}
.mark-rule-try {
  background: #FCF8E3;
  color: #DD4814;
}
.mark-rule-try-occurence {
  background: #ADFF2F;
  color: #000;
}
