@media (min-width: 768px) {
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .page {
    position:absolute;
    width:100%;
    top:50px;
    bottom:0;
    overflow: auto;
  }

  #playground {
    display: table;
    width: 100%;
    table-layout: fixed;
    height:100%;
  }

  #playground > .col {
    width: 50%;
    display: table-cell;
    vertical-align: top;
  }

  .CodeMirror {
    height: auto;
  }

  .CodeMirror-scroll {
    margin-bottom: 0;
    overflow-x: hidden !important;
  }

  .CodeMirror-vscrollbar {
    display: none! important;
  }
}

@media (max-width: 767px) {
  .CodeMirror {
    min-height: 240px;
    height: calc(40vh - 50px);
  }
}

#actions-col {
  padding: 5px 30px;
}

#source-col {
  background: #272822;
  cursor: text;
}

#notifications > * {
  z-index: 10000;
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: initial;
  border: none;

  display: block;
  min-height: 51px;
}

#notifications > .inactive {
  display: none;
}

#notifications .alert-danger {
  background-color: #E74944;
  color: #f8f8f2;
}

#spinner span {
  font-size: 18px;
  color: #fff;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
}

.glyphicon.spinning {
    animation: spin 1.2s infinite linear;
    -webkit-animation: spin2 1.2s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

