<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <link rel="shortcut icon" type="image/png" href="public/img/favicon.ico"/>

  <meta name="description" content="CHR.js lets you compile and run Constraint Handling Rules in JavaScript, so it can be used in node.js and the browser.">

  <link href="public/css/vendor/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="public/js/vendor/codemirror.js"></script>
  <link href="public/css/vendor/codemirror.css" rel="stylesheet">
  <link href="public/css/vendor/codemirror/theme/monokai.css" rel="stylesheet">

  <script src="public/js/vendor/download.js"></script>

  <link href="public/css/online.css" rel="stylesheet">
  <script src="public/js/chr.js"></script>

  {% for css in page.css %}
  <link href="{{ css }}" rel="stylesheet">
  {% endfor %}
</head>
