<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navbar.html %}



    <div class="container">
<div class="jumbotron text-center">
  <div class="container-fluid">
    <h1>Babel is a JavaScript compiler.</h1>
    <p>Use next generation JavaScript, today.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <a class="jumbotron-callout" href="http://exploringjs.com">
          <p>Grab yourself a copy of <em>Exploring ES6</em> today!</p>
        </a>
      </div>
    </div>
  </div>

  <iframe src="https://ghbtns.com/github-btn.html?user=babel&amp;repo=babel&amp;type=star&amp;count=true&amp;size=large" scrolling="0" frameborder="0" height="30px" width="160px"></iframe>
</div>
    
      {{ content }}

      {% include footer.html %}
    </div>

    <script src="public/js/online.js"></script>
  </body>
</html>
