<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navbar.html %}

    <div id="notifications">
      <div id="notification-parsing-error" class="alert alert-danger inactive">
        <button type="button" class="close">×</button>
        <p>Could not parse the given <span class="type">source code</span>: <span class="mesg"></span></p>
      </div>
      
      <div id="notification-query-error" class="alert alert-danger inactive">
        <button type="button" class="close">×</button>
        <p>Could not apply the given query: <span class="mesg"></span></p>
      </div>
      
      <div id="notification-gist-error" class="alert alert-danger inactive">
        <button type="button" class="close">×</button>
        <p>Error while accessing Gist: <span class="mesg"></span></p>
      </div>
    </div>

    {{ content }}

    {% for js in page.jsEnd %}
    <script src="{{ js }}"></script>
    {% endfor %}
  </body>
</html>
